<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Make Booking - Default functionality</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>

<body>

<div class="bg">
  <div class="header">
    <a href='/' id="logo"> <img class=logo src="/Images/logo.png"> </a>
  </div>

  <h1> Book your place now! </h1>
    
  <div class= description>

    <% @info.each do |x| %>
  -------------------------------<br>
    <%= "The" %>
    <%= ["beautiful", "lovely", "scenic", "extravagent"].sample %>
    <%= "#{x['place_name']}" %><br>
    <%= "Sleeps #{x['guests']} guests"%><br>
    <%= "#{x['description']}"%><br>
    -------------------------------<br><br>
  </div>

<div class= "userinput">

<form action='/confirm_booking' method='post'>
Book from date: <input type="text" id="datepicker" name="start_date"><br><br>
Number of nights: <input type="text" name="nights"> @ £<%= x['ppn'] %> per night.<br><br><% end %>

<% @booking_info.each do |x| %>

The above property is currently unavailable from <%= x['start_date'] %> for <%= x['nights'] %> night(s).<br><br>

<% end %>
</div>

<button type="submit" class="button"> Submit </form>

</div>
</body>
</html>

<style>

      h1 {
        text-align: center;  
        color: black;
      }


      body, html {
        height: 100%;
        margin: 0;
      }

      .bg {
        background-image: url('/Images/coastview2.png');
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .header {
        background-color: #f1f1f1;
        opacity: 0.7
      }

      .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 15%;
      }

      .description {
        margin-left: 11.5%;
        font-size: 120%;
      }

      .userinput{
        margin-left: 11.5%;
        font-size: 120%;

      }
      .button{
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #2196f3;
        background-color: #f1f1f1;
        padding: 10px;
        flex: 1;
        transition: all .3s;
        opacity: 0.8;
        transition-duration: 0.4s;
        margin-right: 30%;
      }

      .button:hover,
      .button:focus,
      .button:active {
        background-color: #2196f3;
        color: #fff;
      }

</style>