<!DOCTYPE html>
<html>
<head><h1> Make your booking now! </h1><head>

  <% @info.each do |x| %>
  -------------------------------<br>
    <%= "The" %>
    <%= ["beautiful", "lovely", "scenic", "extravagent"].sample %>
    <%= "#{x['place_name']}" %><br>
    <%= "Sleeps #{x['guests']} guests"%><br>
    <%= "#{x['description']}"%><br>
    -------------------------------<br><br>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>

<form action='/confirm_booking' method='post'>
Book from date: <input type="text" id="datepicker" name="start_date"><br><br>
Number of nights: <input type="text" name="nights"> @ £<%= x['ppn'] %> per night.<br><br><% end %>

<% @booking_info.each do |x| %>


The above property is currently unavailable from <%= x['start_date'] %> for <%= x['nights'] %> night(s).<br><br>

<% end %>
<button type="submit"> Submit </form>
</body>
