<h1> Available Places </h1>

<ul>
  <% @listings.each do |x| %>
  -------------------------------<br>
    <%= "House name / Address: #{x['place_name']} "%><br>
    <%= "Price per night: £#{x['ppn']}"%><br>
    <%= "Maximum number of guests: #{x['guests']}"%><br>
    <%= "Description: #{x['description']}"%><br><br>
    <form action="/book_now" method="post">
      <button type="submit" value="<%= x['place_name'] %>" name="booking"> Book Now</button>
    </form>
  <% end %>
  ------------------------------
</ul>
